<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="data source=PETERMUNNINGS\SQLEXPRESS;initial catalog=oikonomos;Integrated Security=true; pwd=6hbfr93x;persist security info=False;packet size=4096" />
  </appSettings>
  <connectionStrings>
    <add name="oikonomosEntities" connectionString="metadata=res://*/OikonomosModel.csdl|res://*/OikonomosModel.ssdl|res://*/OikonomosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PETERMUNNINGS\SQLEXPRESS;Initial Catalog=oikonomos;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>