@using oikonomos.common.Models
@model EventDisplayModel
           
<script src="@Url.Content("~/Scripts/Site/Index.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Welcome to " + ((ChurchViewModel)Session[oikonomos.common.SessionVariable.Church]).SiteHeader;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{         
    
   var upcomingEvents = new WebGrid(source: Model.UpcomingEvents, 
                rowsPerPage: 20);
} 

<div class="ui-widget" style="text-align:left">
    <div class="ui-widget-header" style="height:30px">
         @(((ChurchViewModel)Session[oikonomos.common.SessionVariable.Church]).SiteHeader)
    </div>
    <div class="ui-widget-content">
        <p>
           @ViewBag.Message
        </p>
        <div id="accordion">
	        <h3><a href="#">Upcoming events</a></h3>
	        <div>
		        @upcomingEvents.GetHtml(tableStyle: "ui-widget",
                                   headerStyle: "ui-widget-header",
                                   columns: upcomingEvents.Columns(
                                                          upcomingEvents.Column("DateDisplay", "Date", canSort: false),
                                                          upcomingEvents.Column("Description", "Event", canSort: false),
                                                          upcomingEvents.Column("EntityName", "Name", canSort: false)
                  )
           )
	        </div>
        </div>

    </div>
</div>








